footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 100vw;
}

footer h1 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

footer img,
footer a {
  width: 30px;
  height: 30px;
}

footer .social {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

footer a {
  display: block;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

footer a:hover {
  opacity: 1;
}
