* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

main {
  display: flex;
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;
}