*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  font-size: 100%;
}

main {
  display: flex;
  height: calc(100vh - 50px);
  align-items: center;
  justify-content: center;
}