:root {
  --border-length: 1px;
  --border-depth: 15px;
  --_s: calc(var(--border-depth) + var(--border-length));
  --grey: #1a1a1a;
  --pink: #f21e8c;;
  --white: #ffffff;
}

@keyframes loading {
  0%, 30%, 100% {
    clip-path: polygon(
      var(--border-depth) 0%,
      var(--border-depth) 0%,
      100% 0%,
      100% calc(100% - var(--border-depth)),
      100% calc(100% - var(--border-depth)),
      var(--border-depth) calc(100% - var(--border-depth))
    );
    transform: translate(calc(var(--border-depth) / -1), var(--border-depth));
  }

  20% {
    clip-path: polygon(
      0% var(--border-depth),
      var(--border-depth) 0%,
      100% 0%,
      100% calc(100% - var(--border-depth)),
      calc(100% - var(--border-depth)) 100%,
      0% 100%
    );
    transform: translate(0, 0);
  }
}

.text-container {
  position: relative;
  display: flex;
}

.text {
  -webkit-text-stroke: 2px red;
  text-stroke: 2px red;
  background-color: transparent;
  border: solid transparent;
  border-bottom-style: solid;
  border-width: var(--border-length) var(--border-length) var(--_s) var(--_s);
  color: var(--white);
  clip-path: polygon(
    var(--border-depth) 0%,
    var(--border-depth) 0%,
    100% 0%,
    100% calc(100% - var(--border-depth)),
    100% calc(100% - var(--border-depth)),
    var(--border-depth) calc(100% - var(--border-depth))
  );
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  transform: translate(calc(var(--border-depth) / -1), var(--border-depth));
  /* transition: 0.3s; */
  /* padding: 5px; */
  /* position: absolute;
  left: 2px;
  bottom: 5px; */
  animation: loading 6s infinite alternate linear;
}

/* .text.l {
  animation-delay: 5s;
} */
.text.o {
  animation-delay: 0.1s;
}
.text.a {
  animation-delay: 0.2s;
}
.text.d {
  animation-delay: 0.3s;
}
.text.i { 
  animation-delay: 0.4s;
}
.text.n {
  animation-delay: 0.5s;
}
.text.g {
  animation-delay: 0.6s;
}

