/* 
https://blog.avada.io/css/3d-text-effects
*/
:root {
  --grey: #1a1a1a;
  --pink: #f21e8c;;
  --white: #ffffff;
}

@keyframes loading {
  0%, 60%, 100% {
    transform: rotateX(70deg) translateZ(0);
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0);
    text-stroke: 1px rgba(255, 0, 0, 0);
  }

  20% {
    transform: rotateX(70deg) translateZ(50px);
    -webkit-text-stroke: 2px rgba(255, 0, 0, 1);
    text-stroke: 2px rgba(255, 0, 0, 1);
  }
}

.text-container {
  display: flex;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.text {
  transform-style: preserve-3d;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 0, 0, 0);
  text-stroke: 1px rgba(255, 0, 0, 0);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  transition: text-stroke ease-in, -webkit-text-stroke ease-in, transform cubic-bezier(0.55, 0.055, 0.675, 0.9);
  transform: rotateX(70deg);
  animation: loading 4s infinite normal;
}

/* .text.l {
  animation-delay: 5s;
} */
.text.o {
  animation-delay: 0.1s;
}
.text.a {
  animation-delay: 0.2s;
}
.text.d {
  animation-delay: 0.3s;
}
.text.i { 
  animation-delay: 0.4s;
}
.text.n {
  animation-delay: 0.5s;
}
.text.g {
  animation-delay: 0.6s;
}

