:root {
  --lift-height: 15px;
  --text-rotation: 70deg;
  --duration: 3s;
  --transparent-stroke: 2px rgba(190, 190, 190, 0);
  --opaque-stroke: 2px rgba(190, 190, 190, 1);
  --easing: cubic-bezier(.81, .15, .32, .84);

  font-family: Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes loading {
  0%, 60%, 100% {
    transform: rotateX(var(--text-rotation)) translateZ(0);
    -webkit-text-stroke: var(--transparent-stroke);
    text-stroke: var(--transparent-stroke);
  }

  30% {
    transform: rotateX(var(--text-rotation)) translateZ(var(--lift-height));
    -webkit-text-stroke: var(--opaque-stroke);
    text-stroke: var(--opaque-stroke);
  }
}

@keyframes layer {
  0%, 60%, 100% {
    transform: translateY(0);
    -webkit-text-stroke: var(--transparent-stroke);
    text-stroke: var(--transparent-stroke);
  }

  30% {
    transform: translateY(var(--layer-offset));
    -webkit-text-stroke: var(--opaque-stroke);
    text-stroke: var(--opaque-stroke);
  }
}

.text-container {
  display: flex;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.text {
  color: transparent;
  position: relative;
  font-size: clamp(2rem, 10vw, 12rem);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
  animation: loading var(--duration) infinite normal var(--easing);
  -webkit-text-stroke: var(--transparent-stroke);
  text-stroke: var(--transparent-stroke);
}

.with-shadow .text {
  text-shadow: 0 0 0 rgba(190, 190, 190, 1);
}

.text .layer::after {
  position: absolute;
  left: 0;
  bottom: 0;
  color: transparent;
  transform: translateY(0);
  animation: layer var(--duration) infinite normal var(--easing);
}

.text .layer:nth-of-type(1)::after {
  --layer-offset: 1px;
}
.text .layer:nth-of-type(2)::after {
  --layer-offset: 2px;
}
.text .layer:nth-of-type(3)::after {
  --layer-offset: 3px;
}
.text .layer:nth-of-type(4)::after {
  --layer-offset: 4px;
}
.text .layer:nth-of-type(5)::after {
  --layer-offset: 5px;
}
.text .layer:nth-of-type(6)::after {
  --layer-offset: 6px;
}
.text .layer:nth-of-type(7)::after {
  --layer-offset: 7px;
}
.text .layer:nth-of-type(8)::after {
  --layer-offset: 8px;
}
.text .layer:nth-of-type(9)::after {
  --layer-offset: 9px;
}
.text .layer:nth-of-type(10)::after {
  --layer-offset: 10px;
}

.text.l .layer::after {
  content: "L";
}
.text.o .layer::after {
  content: "O";
  animation-delay: 0.1s;
}
.text.a .layer::after {
  content: "A";
  animation-delay: 0.2s;
}
.text.d .layer::after {
  content: "D";
  animation-delay: 0.3s;
}
.text.i .layer::after {
  content: "I";
  animation-delay: 0.4s;
}
.text.n .layer::after {
  content: "N";
  animation-delay: 0.5s;
}
.text.g .layer::after {
  content: "G";
  animation-delay: 0.6s;
}

.text.o {
  animation-delay: 0.1s;
}
.text.a {
  animation-delay: 0.2s;
}
.text.d {
  animation-delay: 0.3s;
}
.text.i { 
  animation-delay: 0.4s;
}
.text.n {
  animation-delay: 0.5s;
}
.text.g {
  animation-delay: 0.6s;
}
